.table tr:nth-child(odd) {
    background-color: #ffffff;
}
.table tr:nth-child(even) {
    background-color: #797979;
}
.table--first {
    padding-bottom: 30px;
    width: 50%;
    table-layout:fixed;
}
.table--second {
    height: 5em;
    width: 50%;
}
.icons {
    cursor: pointer;
}
.editing--window {
    position: sticky;
    border: solid black;
    width: 50%;
    height: 10em;
    bottom: 0;  
    background: rgb(214, 214, 214);
    overflow: hidden;
}
.td-dotted {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:block-axis;
}
.flex {
    display: flex;
    flex-direction: row;
    align-items: top;
}